.jumbotron {
    position: relative;
    background: none;
    padding: 0.2em 0.6em;
    width: 100%;
    margin: 0;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.jumbotron .img {
    color: #fff;
    background: url(../_static/brain_coral_blur_small.jpg);
    background-size: cover;
    overflow: hidden;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}

/*
.logo img {
    display: block;
    margin: auto;
    vertical-align: middle;
}
*/

.codeexample {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 1em;
}
